@import '../../../constants/Colors.css';
@import '../../../constants/distances.css';

.Page{
    z-index: 1;
    position: relative;
    height:100%;
    width:100%;
    box-shadow: 0px -10px  10px -13px var(--darkblue) inset;
    background: var(--darkblue);
    overflow-y: auto;
    overflow-x:hidden ;

    .pageTitleContainer{
        position: relative;
        margin-bottom: 50px;
        height: 100px;
        background: var(--darkblue);
        color: var(--darkwhite);
        box-shadow: 2px 2px  10px 3px var(--darkblue);
        box-shadow: inset 5px 0px  3px -3px var(--lightorange);

        h1{
            font-size: 30px;
            margin-top:20px;
        }
    }
}

